{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>

</head>
<body>
    <h1>My To-Do-List</h1>
    <button>
        <a href="{% url 'task_create' %}">Add to list</a>
        <ul>
            {% for task in tasks %}
            <li>
                {{ task.title }}
                {% if task.completed %}
                    (completed)
                {% else %}
                    (pending)
                {% endif %}
                <a href="{% url 'update' task.id %}">Update Task</a>
                <a href="{% url 'delete' task.id %}">Delete task</a>
            </li>
            {% empty %}
            <li>No tasks yet</li>
            {% endfor %}
        </ul>

    </button>
</body>
</html>